<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://saas-ecom.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>saas-ecom.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>saas-ecom</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$saas-ecom</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SaasEcom.Core.DataServices.SaasEcomDbContext`1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tden57iufi.database.windows.net,1433;Initial Catalog=saas-ecom;Integrated Security=False;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=&quot;0Z~@Wb8d8XMs9L-i9=?E&quot;;Connect Timeout=30;Encrypt=True" Name="Server=tcp:tden57iufi.database.windows.net,1433;Database=saas-ecom;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=0Z~@Wb8d8XMs9L-i9=?E;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SaasEcom.Core.DataServices.SaasEcomDbContext`1, SaasEcom.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tden57iufi.database.windows.net,1433;Initial Catalog=saas-ecom;Integrated Security=False;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=&quot;0Z~@Wb8d8XMs9L-i9=?E&quot;;Connect Timeout=30;Encrypt=True" Name="Server=tcp:tden57iufi.database.windows.net,1433;Database=saas-ecom;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=0Z~@Wb8d8XMs9L-i9=?E;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SaasEcom.Web.Data.ApplicationDbContext, SaasEcom.Web" MigrationConfiguration="SaasEcom.Web.Migrations.Configuration, SaasEcom.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:tden57iufi.database.windows.net,1433;Database=saas-ecom;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=0Z~@Wb8d8XMs9L-i9=?E;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SaasEcom.Core.DataServices.SaasEcomDbContext`1-Web.config Connection String">
      <ParameterValue>Server=tcp:tden57iufi.database.windows.net,1433;Database=saas-ecom;User ID=azure-east-us-comyoucom-sql-server@tden57iufi;Password=0Z~@Wb8d8XMs9L-i9=?E;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SaasEcom.Core.DataServices.SaasEcomDbContext`1" />
  </ItemGroup>
</Project>