body {
    .content {
        display: block;
        margin-top: 50px;

        .title {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    .subscription-panel {
        .panel-heading:hover {
            cursor: pointer;
        }

        .panel-title:hover {
            text-decoration: none;
        }

        .plan-icon {
            font-size: x-small;
        }
        .plan-name {
        }
        .plan-price {
            font-size: small;
            color: gray;
        }
        .plan-status {
            color:gray;
            float: right;
            font-weight: bold;
            font-size: small;
        }
    }
}
