
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="title"><i class="fa fa-dashboard"></i> Dashboard</h2>
        <hr />

        <p>TODO: Add content.</p>
    </div>
</div>
