@{
    ViewBag.Title = "Analytics";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="title"><i class="fa fa-bar-chart-o"></i> Analytics</h1>


    </div>
</div>
