@model SaasEcom.Data.Models.CreditCard

@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-credit-card"></i> Subscribe to @ViewBag.PlanName</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Create", "Card", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "card-form" }))
        {
            @Html.Partial("~/Areas/Dashboard/Views/Card/_form.cshtml", Model)
        }
    </div>
</div>
