

@{
    ViewBag.Title = "Invoices";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="title"><i class="fa fa-copy"></i> Invoices</h1>
        


    </div>
</div>
