@section Headers {
    Content-Type: text/html; charset=utf-8
}

<h2>@Model.Title</h2>

<p>@Model.Content</p>

<p>If you need any help, don't hesitate to contact support@SaasEcom.com</p><br />

<p>Thanks!</p>
