@section Headers {
    Content-Type: text/html; charset=utf-8
}

<h2>Password reset request</h2>

<p>We have received a password request for your account. If you did not ask for the reset, just ignore this email.</p>
<p>Here is your link to <a href="@Model.ResetPasswordLink"><strong>Reset your password</strong></a>.</p>
<br/>
<p>Thanks!</p>
