@section Headers {
    Content-Type: text/html; charset=utf-8
}

<h2>Welcome to SAAS Ecom</h2>

<p>You can access to your account now: <a link="#">Dashboard</a>.</p>

<ul>
    <li>Action 1 that you can do when you login.</li>
    <li>Action 2 that you can do when you login.</li>
    <li>Action 3 that you can do when you login.</li>
    <li>Action 4 that you can do when you login.</li>    
</ul>

<p>If you need any help, don't hesitate to contact support@SaasEcom.com</p><br />

<p>Thanks!</p>
