@model SaasEcom.Data.Models.SubscriptionPlan

@{
    ViewBag.Title = "Edit Subscription Plan";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-11 col-lg-9">
        <h1 class="title"><i class="fa fa-angle-right"></i> Edit Subscription Plan</h1>
        @using (Html.BeginForm("Edit", "SubscriptionPlans", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_subscriptionPlanForm", Model)
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
