@model SaasEcom.Web.Areas.Dashboard.ViewModels.EditCreditCardViewModel

@{
    ViewBag.Title = "Add credit card";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-credit-card"></i> Add credit card</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Create", "Card", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "card-form" }))
        {
            @Html.EditorFor(m => m.CreditCard)
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dashboard/stripe-card")
}