@model SaasEcom.Data.Models.CreditCard

@{
    ViewBag.Title = "Change credit card";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-credit-card"></i> Change credit card</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Edit", "Card", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "card-form" }))
        {
            @Html.HiddenFor(m => m.Id)
            
            @Html.Partial("_form", Model)
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dashboard/strip-card")
}