@model SaasEcom.Web.Areas.Dashboard.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-refresh"></i> Plans & Billing</h3>
<div class="row">
    <!-- Subscriptions -->
    @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
    {
        foreach (var subscription in Model.Subscriptions)
        {
            {Html.RenderPartial("_SubscriptionDetails", subscription); }
        }
    }
    else
    {
        <p class="lead">You don't have any active subscription.</p>
    }
</div>

<!-- Invoices -->
@if (Model.Invoices != null && Model.Invoices.Count > 0)
{
    <h3>Invoices</h3>

    <div class="panel-group" id="invoices">
        @foreach (var invoice in Model.Invoices)
        {
            <div class="panel panel-default invoice-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down plan-icon"></span>
                        <span class="plan-price">£@invoice.Total</span>
                    </h4>
                </div>
                <div id="invoice-@invoice.Id">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Date</dt>
                            <dd>@invoice.Date</dd>
                        </dl>
                    </div>
                </div>
            </div>
        }
    </div>
}
