@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stripe SAAS</h1>
    <p class="lead">This is a template that can be used as a startup point to build your SAAS website using ASP.NET MVC 5.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h3 class="text-center">Pricing plans SAAS</h3>
    <hr>
    <div class="col-sm-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3>Basic</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">5 Projects</li>
                <li class="list-group-item">5 GB of Storage</li>
                <li class="list-group-item">Up to 100 Users</li>
                <li class="list-group-item">10 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3>Plus</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$19<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">10 Projects</li>
                <li class="list-group-item">10 GB of Storage</li>
                <li class="list-group-item">Up to 250 Users</li>
                <li class="list-group-item">25 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-danger text-center">
            <div class="panel-heading">
                <h3>Premium</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">50 GB of Storage</li>
                <li class="list-group-item">Up to 1000 Users</li>
                <li class="list-group-item">100 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a class="btn btn-danger ">Sign Up Now!</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3>Ultimate</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$49<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">150 GB of Storage</li>
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">500 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
            </ul>
        </div>
    </div>
</div>

<!--
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>-->
