@model SaasEcom.Web.Areas.Billing.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2 class="title"><i class="fa fa-users"></i> Customers</h2>
        <hr />


    </div>
</div>
