@model SaasEcom.Web.Areas.Billing.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<h2 class="title">Customers</h2>
<hr />
