@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="title"><i class="fa fa-users"></i> Customers</h1>

        @if (!ViewBag.AnyCustomers)
        {
            <div class="no-customers jumbotron">
                <h2>No customers yet</h2>
                <p>There are no customers to show here.</p>
            </div>
        }
        else
        {
            <div ng-app="customersApp" ng-controller="customersController" class="customers-container">
                <table ng-table="customersTable" data-template-pagination="custom-pager" data-show-filter="true" class="table" id="customers-table">
                    <tr ng-repeat="user in $data" data-ng-click="open('lg', user)">
                        <td data-title="'Email'" data-sortable="'Email'" filter="{ 'Email': 'text' }"><i class="fa fa-user"></i> {{ user.Email }}</td>
                        <td data-title="'Plan'" data-sortable="'SubscriptionPlan'" filter="{ 'SubscriptionPlan': 'text' }">{{ user.SubscriptionPlan }} <small>({{ user.SubscriptionPlanPrice | currency: user.SubscriptionPlanCurrency }}/month)</small></td>
                        <td data-title="'Total Revenue'" data-sortable="'totalRevenue'">{{ user.TotalRevenue | currency: user.SubscriptionPlanCurrency  }}</td>
                    </tr>
                </table>

                <script type="text/ng-template" id="custom-pager">
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                        </li>
                    </ul>
                </script>

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title"><i class="fa fa-user"></i> <a href="mailto:{{ customer.Email }}">{{ customer.Email }}</a></h3>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled" ng-show="customer.Name">
                            <li><strong>Name: </strong>{{ customer.Name }}</li>
                            <li><strong>Address: </strong>{{ customer.Address }}</li>
                            <li><strong>City: </strong>{{ customer.City }}</li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><strong>Subscription Plan: </strong>{{ customer.SubscriptionPlan }} <small>{{ customer.SubscriptionPlanPrice | currency: customer.SubscriptionPlanCurrency }}/month</small></li>
                            <li><strong>Total Revenue: </strong>{{ customer.TotalRevenue | currency: customer.SubscriptionPlanCurrency }}</li>
                            <li><strong>Created: </strong>{{ customer.CreatedAt | date : 'medium' }}</li>
                        </ul>

                        <h3>Invoices</h3>
                        <table class="table" ng-show="customer.Invoices.length">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Period</th>
                                    <th>Subtotal</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in customer.Invoices">
                                    <td><small>{{ invoice.StripeId }}</small></td>
                                    <td><small>{{ invoice.InvoicePeriod }} <span class="muted" ng-show="invoice.Paid">(paid)</span></small></td>
                                    <td><small>{{ invoice.Subtotal/100 | currency: customer.SubscriptionPlanCurrency }}</small></td>
                                    <td>{{ invoice.Total/100 | currency: customer.SubscriptionPlanCurrency }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p ng-hide="customer.Invoices.length">No Invoices for this customer yet.</p>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="close()">Close</button>
                    </div>
                </script>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angular-ng-table")
    @Scripts.Render("~/bundles/angular-ui-bootstrap")

    <script language="javascript">
        var customersModule = angular.module('customersApp', ['ngTable', 'ui.bootstrap']);

        customersModule.controller('customersController', function ($http, $scope, $filter, $modal, ngTableParams) {

            $http.post('/Billing/Customers/GetCustomers').then(function (res) {
                var customers = res.data;

                $scope.customersTable = new ngTableParams({
                    page: 1, // show first page
                    count: 10, // count per page
                    filter: {},
                    sorting: {
                        name: 'asc' // initial sorting
                    },
                    filterDelay: 200
                }, {
                    total: customers.length, // length of data
                    getData: function ($defer, params) {
                        // use build-in angular filter
                        var filteredData = params.filter() ?
                            $filter('filter')(customers, params.filter()) : customers;
                        var orderedData = params.sorting() ?
                            $filter('orderBy')(filteredData, params.orderBy()) : customers;

                        params.total(orderedData.length); // set total for recalc pagination
                        $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                    }
                });
            });

            $scope.open = function (size, $customer) {
                var modalInstance = $modal.open({
                    templateUrl: 'myModalContent.html',
                    controller: 'ModalInstanceCtrl',
                    size: size,
                    resolve: {
                        customer: function () {
                            return angular.copy($customer);
                        }
                    }
                });
            };
        });

        customersModule.controller('ModalInstanceCtrl', function ($scope, $modalInstance, customer) {
            $scope.customer = customer;

            $scope.close = function () {
                $modalInstance.dismiss();
            };

            this.$inject = ["$scope", "$modalInstance", "customer"];
        });
    </script>
}
